/* -------------------------------------------
   Collapsive Sidebar v1.0 by OscarThemes
   ------------------------------------------- */

html,
body {
  height: 100%; /* important! you must set this */
}

/* ----------------------------------
    Start Sidebar Styles
   ---------------------------------- */

.sidebar-wrapper {
  position: sticky;
  top: 0;
  min-width: 56px;
  width: 300px;
  box-sizing: border-box;
}

.sidebar-wrapper[aria-expanded='false'] {
  width: 56px;
}

.sidebar-wrapper .sidebar-inner {
  border-right: 1px solid #343C48;
  background-color: #354052;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  justify-content: start;
  align-items: start;
  box-sizing: border-box;
}

/* -----------------------------------
    Sidebar Header
   ----------------------------------- */
.sidebar-wrapper .sidebar-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.sidebar-header .avatar .avatar-inner {
  display: block;
  width: 80px;
  height: 80px;
  margin: 0 auto;
  border-radius: 100%;
  overflow: hidden;
}

.avatar .avatar-inner img {
  max-width: 100%;
}

.sidebar-wrapper[aria-expanded='false'] .avatar .avatar-inner {
  width: 40px;
  height: 40px;
}

.sidebar-header .profile-label-name {
  color: #A5B6C3;
  text-align: center;
}

.sidebar-header .profile-label-name .profile-name {
  display: inline-flex;
  margin: 5px 0;
}

.sidebar-wrapper[aria-expanded='false'] .sidebar-header .profile-label-name  {
  display: none;
}

/* Hide profile image */
.sidebar-header[aria-hidden='true'] .avatar,
.sidebar-header[aria-hidden='true'] .profile-label-name {
  display: none;
}

/* -----------------------------------
    Sidebar Body
   ----------------------------------- */
.sidebar-wrapper .sidebar-inner .sidebar-body {
  width: 100%;
  cursor: pointer;
  overflow-y: auto;
}

.sidebar-wrapper .sidebar-body .sidebar-header {
  padding: 15px 15px 20px 15px;
  border-bottom: 2px solid #343C48;
}

.sidebar-wrapper[aria-expanded='false'] .sidebar-body .sidebar-header {
  padding: 10px 0;
}

/* remove the border-bottom if show is false */
.sidebar-wrapper .sidebar-header[aria-hidden='true'] {
  border-bottom: 0;
}

/* Start navigation */
.sidebar-wrapper .sidebar-body .navgroup {
  display: block;
}

.sidebar-wrapper .navgroup .nav-heading {
  margin: 5px 15px 0 25px;
  padding: 5px 0;
  color: #607A99;
}

.sidebar-wrapper[aria-expanded='false'] .navgroup .nav-heading {
  display: none;
}

.navgroup .nav-heading .assistive {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.sidebar-wrapper .navgroup .nav-heading:first-child {
  border-top: 0;
}

.sidebar-wrapper .navgroup .nav {
  list-style-type: none;
  padding: 0;
  margin: 5px 0;
}

.sidebar-wrapper[aria-expanded='false'] .navgroup .nav {
  display: block;
  height: auto;
}

.sidebar-wrapper .navgroup .nav li {
  position: relative;
  padding: 0 15px;
}

.sidebar-wrapper[aria-expanded='false'] .navgroup li {
  display: block;
}

.navgroup .nav li a {
  text-decoration: none;
  display: block;
  margin: 0 -15px;
}

.sidebar-wrapper[aria-expanded='false'] .nav li a {
  padding-left: 0;
  padding-right: 0;
  text-align: left;
}

.navgroup-vertical .nav li > a {
  position: relative;
  padding: 15px 25px;
  word-wrap: break-word;
}

/* hover effects */
.navgroup-vertical .nav li:hover a,
.navgroup-vertical .nav li:active a,
.navgroup-vertical .nav li:focus a {
  background: #2F3949;
}

.navgroup-vertical .nav li a:focus,
.navgroup-vertical .nav li a:active {
  outline: 1px dotted white;
}

.navgroup .nav .nav-icon {
  font-size: 18px;
  color: #A5B6C3;
  margin: 0 5px 0 0;
  vertical-align: baseline;
}

.sidebar-wrapper[aria-expanded='false'] .nav .nav-icon {
  margin-left: 18px;
  margin-right: 0;
}

.navgroup .nav .nav-item-label {
  color: #A5B6C3;
}

.navgroup-vertical .nav li a:hover .nav-icon,
.navgroup-vertical .nav li a:focus .nav-icon,
.navgroup-vertical .nav li a:hover .nav-item-label,
.navgroup-vertical .nav li a:focus .nav-item-label {
  color: #fff;
}

.sidebar-wrapper[aria-expanded='false'] .navgroup .nav .nav-item-label {
  display: none;
}

/* ------------------------------
    sidebar footer
   ------------------------------ */

.sidebar-wrapper .sidebar-footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  width: 100%;
  height: 40px;
  border-top: 1px solid #343C48;
}

.sidebar-wrapper .sidebar-footer .sidebar-toggle {
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  padding: 10px 15px;
  color: #ccc;
  text-align: right;
  width: 100%;
}

.sidebar-wrapper[aria-expanded='false'] .sidebar-toggle {
  padding-right: 20px;
  text-align: center;
}

.sidebar-wrapper[aria-expanded='false'] .sidebar-toggle i {
  transform: rotate(180deg);
}

.sidebar-wrapper .sidebar-footer .sidebar-toggle:hover,
.sidebar-wrapper .sidebar-footer .sidebar-toggle:focus {
  background: #2F3949;
  color: #FFFFFF;
  text-shadow: none;
  cursor: pointer;
}

/* -------------------------
   Content
   ------------------------- */

/* content */
.page-container {
  height: inherit;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-auto-rows: auto;
  box-sizing: border-box;
}

.sidebar-wrapper[aria-expanded='false'] ~ .content-wrapper {
  padding-left: 56px;
}

.page-container .content-wrapper .content-inner {
  padding: 20px;
}

