/* Font Import */
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  font-family: 'open sans', arial, sans-serif;
  margin: 0;
  padding: 0;
}

body {
    background: #ebf1f5;
}

.panel {
	background-color: #fff;
	padding: 10px;
	border-bottom: 1px solid #ccc;
}